.dash{
    &:active, &:focus, &:hover{
        outline:none;
    }
    font-size: 13px;
    color:#888;
}
.form-control{
    &:active, &:focus, &:hover{
        outline:none;
    }
}
.brand{
  .del{
      display: none;
      transition:all 3s ease-in-out;
  }
  transition: all 3s ease-in-out;
  &:hover{
      .del{
          display:block;
      }
  }
}
