.col-5, .col{
    padding-left: 0;
    padding-right:0;
}
.row{
    margin-right:0;
    margin-left:0;
}
.btndose{
    color:#6fb5ff;
    border-radius:50%;
    &:hover, &:active{
        color: white
    }
}
.header{
    // border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 50%;
}