.myself{
    display: grid;
    grid-template-columns: 50% 40%;
}
.prof{
    border-right:3px solid #eeeeee98;
    z-index: 200;
    height:max-content;
}
li{
    list-style: none;
}
.assign{
    width: max-content;
    padding:10px 20px;
    border-radius: 30px;
    background-color: rgb(12, 146, 199);
    border: none;
    color: white;
    &:focus{
        outline: none;
    }
}
.drop{
    height: 30vh;
    width:30vw;
    overflow-y:auto;
    margin: 2vh 30vw;
}
.padlt{
    padding-left: 3rem;
}
.edit{
    color:#29abe2;
    text-decoration: underline;
    font-weight:300;
    margin: 0 30px;
}
.editInput{
    border: none;
    width:100px;
    border-radius: 20px;
    padding-left:15px;
    margin-right:2%;
    &:focus{
        outline: none;
    }
}
$breakpoint-phone: 500px;

@media screen and (max-width: $breakpoint-phone){
    .myself{
        grid-template-columns: 100%;
    }
    .prof{
        border-right: none;
        margin: 5% 0;
    }
    .padlt{
        padding-left:0;
    }
    .assign{
        margin:10% 0;
    }
    .drop{
        width:80vw;
        margin:3vh 50vw;
    }
}
