<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0 py-5">
        <h1 class="text-center my-3 ">Vaccination Booking Details</h1>
        <div class="myself" style="min-height: 600px; padding: 5%;" *ngIf ="getdata.myselfBool">
          <div class="prof">
          <h3><b>ID: </b>{{myself._id}}</h3>
          <p><b>Place chosen for vaccination: </b>{{myself.place}}</p>
          <p><b>Full Name: </b>{{myself.profile.firstname + ' ' + myself.profile.lastname}}</p>
          <p><b>Age: </b>{{myself.profile.age}}</p>
          <p><b>Email: </b>{{myself.profile.email}}</p>
          <p><b>Phone: </b>{{myself.profile.phone}}</p>
          <p><b>Gender: </b>{{myself.profile.gender}}</p>
          <p><b>Address: </b>{{myself.profile.address.address + '(' + myself.profile.address.zipcode + ')' }}</p>
          <h4>Payment Status: {{myself.paymentStatus}}</h4>
        </div>
          <div class="padlt">
            <h2 class ="my-4">Vaccines chosen</h2>
          <div *ngFor="let vacc of myself.vaccine; let i = index">
            <h4><b>Vaccine Name: </b>{{vacc.name}}</h4>
            <small class = "text-muted"><b>Vaccine brand: </b>{{myself.brandschosen[i].name + ' ' + myself.brandschosen[i].price}}</small>
          </div>
          <h4>Total Price: {{myself.totalprice}}</h4>
          </div>
          <ul class="nav align-items-center zindex">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <input type="submit" class="assign" ngbDropdownToggle value="Assign To">
              <div class="dropdown-menu-arrow drop dropdown-menu-right" ngbDropdownMenu >
                <a routerLinkActive="active" [routerLink]="['/user-profile']" *ngFor = "let nurse of allNurses" class="dropdown-item">
                  <i class="ni ni-calendar-grid-58"></i>
                  <span>{{nurse.name}}</span>
                </a>
              </div>
                
            </li>
          </ul>
          <div class="dropdown-menu-arrow dropdown-menu-right" *ngIf ="show">
         
          </div>
        </div>
        <div style="min-height: 600px; padding: 5%;" *ngIf ="getdata.familyBool">
          <h3><b>ID: </b>{{family._id}}</h3>
          <p><b>Place chosen for vaccination: </b>{{family.place}}</p>
        </div>
        <div style="min-height: 600px; padding: 5%;" *ngIf ="getdata.corpBool">
          <h3><b>ID: </b>{{corp._id}}</h3>
          <p><b>Full Name: </b>{{corp.fullname}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
