<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          </div>
      </div>
    </div>
  </div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Full Name</th>
          <th scope="col" class="text-center">Vaccines</th>
          <th scope="col" class="text-center">Total Price</th>
          <th scope="col" class="text-center">Payment Status</th>
        </tr>
        </thead>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        </table>
    </div>
