.header{
    z-index:-100000;
}
.cardone{
    position: relative;
    transform: translateY(-10%);
    padding: 5%;
}
.rowone{
    padding:5%;
}
.col{
    padding-right:0px;
    padding-left:0px;
}
.onerow{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: space-around;
    & > div{
        flex-grow:1;
        padding:0 6vw;
        &:hover{
            flex-grow: 2;
        }
    }
}
.namevacc> div{
    padding:0 5vw;
    flex-grow:1;
}
.flexyman{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexyvacc{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}