<div class="header bg-gradient-danger back pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <h1 class="text-white">Edit Booking</h1>
      </div>
    </div>
  </div>
</div>
<div class="col cardone" *ngIf="getdata.myselfBool">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row rowone">
        <div class="align-items-center col-8">
          <h4 class="text-muted font-weight-bold">
            <small>{{ booking._id }}</small>
          </h4>
          <div>
            <h4>
              {{ booking.profile.firstname + " " + booking.profile.lastname }}
            </h4>
          </div>
          <div>
            <p>
              {{
                booking.profile.address.address +
                  ", " +
                  booking.profile.address.zipcode
              }}
            </p>
          </div>
          <div>
            <p>{{ booking.profile.phone }}</p>
          </div>
          <div>
            <p>{{ date(booking.profile.time) }}</p>
          </div>
          <h4>Payment Status: {{ booking.paymentStatus }}</h4>
        </div>
        <div class="align-items-right col" *ngFor="let vacc of booking.vaccine">
          <h4 class="text-muted font-weight-bold">
            <small>{{ vacc._id }}</small>
          </h4>
          <h4>{{ vacc.name }}</h4>
        </div>
      </div>

      <div class="form-group onerow row">
        <div class="col-6">
          <h4><label class="my-2">Name of Vaccinator:</label></h4>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="ni ni-user-08"></i
              ></span>
            </div>
            <input
              class="form-control"
              name="vaccinator"
              placeholder="Name of Vaccinator"
              type="text"
              [(ngModel)]="booking.vaccinator"
            />
          </div>
        </div>
        <div class="col-6">
          <h4><label class="my-2">Total dosages to be given:</label></h4>
          <div class="input-group input-group-alternative">
            <input
              (change)="changeDosage()"
              class="form-control"
              name="dosageNumber"
              placeholder="number of dosages"
              type="number"
              [(ngModel)]="booking.dosageNumber"
            />
          </div>
        </div>
      </div>
      <div class="onerow row">
        <div class="col-6 form-group">
          <h4><label for="input-stage" class="my-2">Dosage Stage:</label></h4>
          <div class="input-group input-group-alternative">
            <select
              id="input-stage"
              class="form-control"
              name="dosageStage"
              [(ngModel)]="booking.vaccinationStatus"
            >
              <option>Choose vaccination stage</option>
              <option *ngFor="let stage of stages; let i = index">
                {{ allStages(i) }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6 form-group">
          <h4><label class="my-2">Date:</label></h4>
          <div class="input-group input-group-alternative">
            <input
              class="form-control"
              name="vaccinator"
              type="datetime-local"
              [(ngModel)]="booking.startDate"
            />
          </div>
        </div>
        <button class="btn btn-primary my-4" (click)="updateForMyself()">
          Update Booking
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col" *ngIf="getdata.familyBool">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0 rowone">
      <div class="row ">
        <div class="col">
          <h4 class="text-muted font-weight-bold">
            <small><b>{{ booking._id }}</b></small>
          </h4>
          <div>
            <p>Address: {{ booking.address }}</p>
          </div>
          <div>
            <p>Place: {{ booking.place }}</p>
          </div>
          <div *ngIf="booking.state !== ''">
            <p><b>{{ booking.lga + ", " + booking.state  }}</b></p>
          </div>
        </div>
        <div>
          <p>Date: {{ date(booking.time) }}</p>
          <p class="text-muted"><b>Total Price: {{booking.totalprice}}</b></p>
          <h4>
            Vaccination Status:
            <span class="badge badge-pill badge-info">{{
              booking.vaccinationStatus
            }}</span>
          </h4>
          <h4>
            Payment Status:
            <span class="badge badge-pill badge-info">{{
              booking.paymentStatus
            }}</span>
          </h4>
        </div>
      </div>
        <div class="form-group row px-3 mt-3">
          <div class="col mr-4">
            <h4><label class="my-2">Name of Vaccinator:</label></h4>
            <div class="input-group input-group-alternative">
              <input
                class="form-control"
                name="vaccinator"
                placeholder="Name of Vaccinator"
                type="text"
                [(ngModel)]="booking.vaccinator"
              />
            </div>
          </div>
          <div class="col ml-4">
            <h4><label class="my-2">Vaccination Status:</label></h4>
            <div class="input-group input-group-alternative">
              <select
                class="form-control"
                name="vaccinationStatus"
                [(ngModel)]="booking.vaccinationStatus"
              >
              <option>started</option>
              <option>finished</option>
            </select>
            </div>
          </div>
        </div>
        <div class="flexyman">
          <div *ngFor="let data of booking.profile; let i = index" class="mt-5">
            <p class="badge badge-pill badge-danger">Person {{ i + 1 }}</p>
            <h4>{{ data.firstname + " " + data.lastname }}</h4>
            <p>{{ data.phone }}</p>

            <div
              class="col-sm-12 col-lg-12 col-xl-12 famvacc"
              *ngFor="let vacc of data.vaccines; let i= index"
            >
              <div class="bord">
                <div class="flexyvacc">
                  <h4 class="text-muted font-weight-bold">
                    <small>{{ vacc._id }}</small>
                  </h4>
                  <h4 class="mx-md-5 mx-lg-5 mx-xl-5">{{ vacc.name }}</h4>
                </div>
              </div>
              <div class="mb-2"><small>Brand: {{data.brandschosen[i].name + ', ' + data.brandschosen[i].price}}</small></div>
              <div class="form-group row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                  <h4><label class="my-2">Vaccine batch no:</label></h4>
                  <div class="input-group input-group-alternative">
                    <input
                      class="form-control"
                      name="vaccbatchno"
                      placeholder="Vaccine batch number"
                      type="text"
                      [(ngModel)]="vacc.vaccbatchno"
                    />
                  </div>
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                  <h4><label class="my-2">Vaccine expiration date:</label></h4>
                  <div class="input-group input-group-alternative">
                    <input
                      class="form-control"
                      name="vaccexp"
                      placeholder="vaccine expiration date"
                      type="date"
                      [(ngModel)]="vacc.vaccexp"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-6 col-md-6 col-lg-6 col-xl-3">
                  <h4><label class="my-2">Vaccine stage:</label></h4>
                  <div class="input-group input-group-alternative">
                    <input
                      class="form-control"
                      name="vaccstage"
                      placeholder="Vaccine stage"
                      type="number"
                      [(ngModel)]="vacc.vaccstage"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-6 col-md-6 col-lg-6 col-xl-3">
                  <h4><label class="my-2">Date:</label></h4>
                  <div class="input-group input-group-alternative">
                    <input
                      class="form-control"
                      name="dategiven"
                      placeholder="Date given"
                      type="datetime-local"
                      [(ngModel)]="vacc.dategiven"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <button class="btn btn-primary my-4" (click)="updateForFamily()">
            Update Booking
          </button>
        </div>
      </div>
</div>
