<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Bookings</h3>
        </div>
        <div>
          <button class ="btn " [ngClass]= "myself?'addcolor':''" (click) ="MyselfBool()">Myself</button>
          <button class ="btn "  [ngClass]= "family?'addcolor':''" (click) ="FamBool()">Family</button>
          <button class ="btn "  [ngClass]= "corp?'addcolor':''" (click) ="CorpBool()">Corporate</button>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <span class="spinner-border spinner-border-lg" *ngIf ="getdata.loading" role="status" aria-hidden="true"></span>
          <table *ngIf ="myself && !getdata.loading" class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Full Name</th>
                <th scope="col" class="text-center">Vaccines</th>
                <th scope="col" class="text-center">Total Price</th>
                <th scope="col" class="text-center">Payment Status</th>
                <th scope="col" class="text-center">Vaccination Status</th>
              </tr>
              </thead>
              <tr *ngFor = "let data of getdata.myselfData; let i = index" (click)="clickNext(data)">
                <td class="text-center">{{data._id}}</td>
                <td class="text-center">{{data.profile.firstname + " " + data.profile.lastname}}</td>
                <td class="text-center"><ul class="innertablemy"><li class="innerlimy" *ngFor ="let vacc of data.vaccine">{{vacc.name}}</li></ul></td>
                <td class="text-center">{{data.totalprice}}</td>
                <td class="text-center">{{data.paymentStatus}}</td>
                  <td style="border-radius:10rem;" class="text-center padno  {{switchClass(data)}}">{{data.vaccinationStatus | uppercase}}</td>
              </tr>
              </table>
              <table *ngIf ="family && !getdata.loading" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Full Name</th>
                    <th scope="col" class="text-center">Emails</th>
                    <th scope="col" class="text-center">Total Price</th>
                    <th scope="col" class="text-center">Payment Status</th>
                    <th scope="col" class="text-center">Vaccination Status</th>
                  </tr>
                  </thead>
                  <tr *ngFor = "let data of getdata.famData; let i = index" (click)="clickNext(data)">
                    <td class="text-center">{{data._id}}</td>
                    <td class="text-center"><ul class="innertablemy"><li class="innerlimy" *ngFor ="let name of data.profile">{{name.firstname + ' ' + name.lastname}}</li></ul></td>
                    <td class="text-center"><ul class="innertablemy"><li class="innerlimy" *ngFor ="let vacc of data.profile">{{vacc.email}}</li></ul></td>
                    <td class="text-center">{{data.totalprice}}</td>
                    <td class="text-center">{{data.paymentStatus}}</td>
                    <td class="text-center" class="text-center padno  {{switchClass(data)}}">{{data.vaccinationStatus}}</td>
                  </tr>
                  </table>
                  <table *ngIf ="corp && !getdata.loading" class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Full Name</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Company Name</th>
                        <th scope="col" class="text-center">Number of Staff</th>
                      </tr>
                      </thead>
                      <tr *ngFor = "let data of getdata.corpData; let i = index" (click)="clickNext(data)">
                        <td class="text-center">{{data._id}}</td>
                        <td class="text-center">{{data.fullname}}</td>
                        <td class="text-center">{{data.email}}</td>
                        <td class="text-center">{{data.companyDetails.companyname}}</td>
                        <td class="text-center">{{data.companyDetails.nofstaff}}</td>
                      </tr>
                      </table>
                  
                </div>
      </div>
    </div>
  </div>
</div>
