<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  
                  <h5 class="card-title text-uppercase text-muted mb-0">All Bookings</h5>
                  <span class="h2 font-weight-bold mb-0">{{checkForBookings()}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">All Nurses</h5>
                  <span class="h2 font-weight-bold mb-0">{{_get.nurses}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Bookings started</h5>
                  <span class="h2 font-weight-bold mb-0">0</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Finished bookings</h5>
                  <span class="h2 font-weight-bold mb-0">0</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12 mb-3 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Bookings</h3>
            </div>
            <div class="col text-right">
              <a (click) ="todayBool()" class="btn text-white time btn-sm btn-primary" [ngClass]="today?'active bg-gradient-danger': ''">Today</a>
              <a (click) ="weekBool()" class="btn text-white time btn-sm btn-primary" [ngClass]="week?'active bg-gradient-danger': ''">1 week</a>
              <a (click) ="monthBool()" class="btn text-white time btn-sm btn-primary" [ngClass]="month?'active bg-gradient-danger': ''">30 days</a>
            </div>
          </div>
          <hr/>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <div class="text-center">
            <div *ngIf ="_get.loading" class="spinner-border spinner-border-lg" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf ="today" class="align-items-center bookingdates ">
            <div class=" flexy row" *ngFor = "let today of todayBookingarr">
              <div class="col-10">
              <b>{{today._id}}</b>
              <h4>Type: {{today.type}}</h4>
              <div *ngIf="today.type === 'family'">
                <h3>{{today.place}}</h3>
                <h4>{{today.address}}</h4>
                <div *ngFor="let data of today.profile">
                  <h5>{{data.firstname + ' ' + data.lastname}}</h5>
                </div>
                <h5 class="badge badge-pill badge-primary mr-2">{{today.paymentStatus}}</h5>
                <h5 class="badge badge-pill badge-info">{{today.vaccinationStatus}}</h5>
              </div>
              <div *ngIf="today.type === 'corporate'">
                <h3>Name: {{today.fullname}}</h3>
                <h4>Company Name: {{today.companyDetails.companyname}}</h4>
              </div>
              <div *ngIf="today.type === 'individual'">
                <h3>{{today.place}}</h3>
                <h4>{{today.profile.firstname + ' ' + today.profile.lastname}}</h4>
                <h5 class="badge badge-pill badge-primary mr-2">{{today.paymentStatus}}</h5>
                <h5 class="badge badge-pill badge-info">{{today.vaccinationStatus}}</h5>
              </div>
            </div>
            <div class="col-2">{{formatDate(today.timestamp)}}</div>
              <hr/>
            </div>
          </div>
          <div *ngIf ="week" class=" align-items-center bookingdates">
            <div class="flexy row" *ngFor = "let week of weekBookingarr">
              <div class="col-10">
              <b>{{week._id}}</b>
              <h4>Type: {{week.type}}</h4>
              <div *ngIf="week.type === 'family'">
              <h3>{{week.place}}</h3>
              <h4>{{week.address}}</h4>
              <div *ngFor="let data of week.profile">
                <h5>{{data.firstname + ' ' + data.lastname}}</h5>
              </div>
              <h5 class="badge badge-pill badge-primary mr-2">{{week.paymentStatus}}</h5>
              <h5 class="badge badge-pill badge-info">{{week.vaccinationStatus}}</h5>
            </div>
            <div *ngIf="week.type === 'corporate'">
              <h3>Name: {{week.fullname}}</h3>
              <h4>Company Name: {{week.companyDetails.companyname}}</h4>
            </div>
            <div *ngIf="week.type === 'individual'">
              <h3>{{week.place}}</h3>
              <h4>{{week.profile.firstname + ' ' + week.profile.lastname}}</h4>
              <h5 class="badge badge-pill badge-primary mr-2">{{week.paymentStatus}}</h5>
              <h5 class="badge badge-pill badge-info">{{week.vaccinationStatus}}</h5>
            </div>
          </div>
          <div class="col-2">
            {{formatDate(week.timestamp)}}
          </div>
              <hr/>
            </div>
          </div>
          <div *ngIf ="month" class=" align-items-center bookingdates ">
            <div class=" flexy row" *ngFor = "let month of monthBookingarr">
              <div class="col-10">
              <b>{{month._id}}</b>
              <h4>Type: {{month.type}}</h4>
              <div *ngIf="month.type === 'family'">
                <h3>{{month.place}}</h3>
                <h4>{{month.address}}</h4>
                <div *ngFor="let data of month.profile">
                  <h5>{{data.firstname + ' ' + data.lastname}}</h5>
                </div>
                <h5 class="badge badge-pill badge-primary mr-2">{{month.paymentStatus}}</h5>
                <h5 class="badge badge-pill badge-info">{{month.vaccinationStatus}}</h5>
              </div>
              <div *ngIf="month.type === 'corporate'">
                <h3>Name: {{month.fullname}}</h3>
                <h4>Company Name: {{month.companyDetails.companyname}}</h4>
              </div>
              <div *ngIf="month.type === 'individual'">
                <h3>{{month.place}}</h3>
                <h4>{{month.profile.firstname + ' ' + month.profile.lastname}}</h4>
                <h5 class="badge badge-pill badge-primary mr-2">{{month.paymentStatus}}</h5>
                <h5 class="badge badge-pill badge-info">{{month.vaccinationStatus}}</h5>
              </div>
            </div>
            <div class="col-2">
              {{formatDate(month.timestamp)}}
            </div>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
